body{
  margin: 0;
  padding: 0;
}


.navtext {
  padding-left: 15px;
  font-size: 17px;
  margin: .5rem;
  color:white;
  display: none;
}

header{
  margin: 1rem;
  height: 135px;
  text-align: center;
}


.navbar{
  display:flex;
  position: relative;
  background-color: rgba(138, 121, 121, 0.801);
  color: white;
  font-size: 17px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

}


.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-links li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.navbar-links li a:hover{
  color: rgb(100, 28, 28);
}

.toggle-button{
  position: absolute;
  top: 1.0rem;
  right: 1rem;
  display:none;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  height: 22px;;
}

.toggle-button .bar{
  height: 2.75px;
  width: 100%;
  background-color: white;
  border-radius: 10px;

}

.logo{
  width: 375px;
}

div.gallery{
    text-align: center;
}

 .gallery__img{
        padding-top: 30px;
}

.galleryborder{
    background-color: rgb(134, 47, 47);
    height: 3px;
    margin-top: 33px;
    
}

@media (max-width: 800px){
  .toggle-button {
    display: flex;
}

.navbar-links{
    display:none; 
    width: 100%;
}

.navbar{
    flex-direction: column;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-links ul{
    flex-direction: column;
    width: 100%;
    display:inline-block;
}

.navbar-links li{
    text-align: center;
    margin: auto;
    padding: 1px;
    
}

.navbar-links li a{
    font-size: 20px;
    border-radius: 10px;
    display: block;
    padding: 9px;
}

.navbar-links.active{
    display: flex;
}

.navbar.active{
    padding-bottom: 0px;
    padding-top: 15px;
}

.navtext {
    display: flex;
}

.navtext.active{
    position: relative;
    bottom: 5px;
}

.navbar-links li a:hover{
    background-color: rgba(100, 28, 28, 0.884);
    color: white;
}
}
