body{
    margin: 0;
    padding: 0;
}



.thing {
    padding-left: 15px;
    font-size: 17px;
    margin: .5rem;
    color:white;
    display: none;
}

header{
    padding-top: 0px;
    height: 135px;
    text-align: center;
    margin: 1rem;
}


.navbar{
    display:flex;
    position: relative;
    background-color: rgba(138, 121, 121, 0.801);
    color: white;
    font-size: 17px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}


.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}

.navbar-links li a:hover{
    color: rgb(100, 28, 28);
}

.toggle-button{
    position: absolute;
    top: 1.0rem;
    right: 1rem;
    display:none;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 22px;;
}

.toggle-button .bar{
    height: 2.75px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

main.home{
    padding-top: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}



.img1{
    width: 100%;

}

.logo{
    width: 375px;
}

main.contact {
    position: relative;
    overflow: hidden;
    padding-bottom: 65%; 
}


  
  .icontact {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 15px;
  }

  .directionsborder{
      background-color: rgb(134, 47, 47);
      height: 3px;
      margin-top: 33px;
      
  }

  
  main.directions{
      padding-top: 20px;
      width: 100%;
      margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


  .idirections2{
      padding-top: 30px;
      padding-bottom: 35px;
  }




@media (max-width: 800px){
    .toggle-button {
        display: flex;
        
    }

    .navbar-links{
        display:none; 
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        border-radius: 10px;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
        display: inline-block;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        height: 3px;
        display: block;
        border: 1px solid rgb(121, 39, 39);
        margin: auto;
    }

    .navbar-links.active{
        display: flex;
    }

    .thing {
        display: flex;
    }

    main{
        margin: .5rem;
    }

    main.contact {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%; 
    }

    .icontact{
        width: 90%;
        margin-left: 1rem;
    }

    main.directions{
        padding-top: 20px;
        margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .idirections1{
        width: 350px;
        height: 250px;

    }

    .idirections2{
        width: 350px;
        height: 250px;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 400px;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}
    
}